{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body class="bg-light d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card p-4 shadow" style="width: 350px;">
    <h4 class="text-center mb-3">Login</h4>
    {% if messages %}
      {% for pesan in messages %}
        <div class="alert alert-danger">{{ pesan }}</div>
      {% endfor %}
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label>Username</label>
        <input type="text" name="username" class="form-control" required>
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input type="password" name="password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary w-100">Masuk</button>
    </form>
  </div>
</body>
</html>
